body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav > ul {
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}
.submenu{
    display: none;
}

nav input[type=checkbox]{
    display: none;
}

nav{
    width: 100%;
    background-color: #424558;
}
nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: #fff;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}
.submenu li{
    border-bottom: 1px solid #ccc;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
}

.menu-html:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0,15);
}
.menu-css:hover{
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 192, 0,15);
}
.menu-js:hover{
    border-top: 5px solid #27793b;
    background-color: rgba(241, 211, 79, 0,15);
}
.menu-contact:hover{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0,15);
}
.menu-bdd:hover{
    border-top: 5px solid #c5d114;
    background-color: rgba(228, 77, 38, 0,15);
}
.menu-php:hover{
    border-top: 5px solid #eea2de;
    background-color: rgba(228, 77, 38, 0,15);
}
.menu-mission:hover{
    border-top: 5px solid #95b399;
    background-color: rgba(228, 77, 38, 0,15);
}
.menu-certification:hover{
    border-top: 5px solid #60d6df;
    background-color: rgba(228, 77, 38, 0,15);
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}
.submenu{
    background-color: aliceblue;
}

